<div class="mainBody">

    <div class="aboutMeTxt">
        <h1>About Me</h1>
    </div>

    <div class="content">
        <div class="portrateBox">
            <h3>pic of me</h3>
        </div>

        <div class="textBox">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime autem quod culpa asperiores? Eius, est? Consectetur quia odit, omnis velit, blanditiis eius odio doloremque quod ea numquam minus doloribus distinctio!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime autem quod culpa asperiores? Eius, est? Consectetur quia odit, omnis velit, blanditiis eius odio doloremque quod ea numquam minus doloribus distinctio!</p>
        </div>
    </div>


</div>