
MvcProjects/EnitityFrameworkSetup/appsettings.json
MvcProjects/FirstConnection/appsettings.json
MvcProjects/CRUDelicious/appsettings.json
blazor/BlazingPizza/.vs/BlazingPizza/FileContentIndex/2e9c2bb6-aa8b-4082-836d-9bfac40dda66.vsidx
