

<div>
    <form action="Process" method="post">
        <div>
            <div class="inputDiv">
                <p>Your Name:</p>
                <input type="text" name="Name">
            </div>

            <div class="inputDiv">
                <p>Dojo Location:</p>
                <select name="Location" id="">
                    <option value="Chicago">Chicago</option>
                    <option value="Moon">Moon</option>
                    <option value="Online">Online</option>
                </select>
            </div>

            <div class="inputDiv">
                <p>Favrite Language:</p>
                <select name="fl" id="">
                    <option value="C#">C#</option>
                    <option value="C#">C#</option>
                    <option value="OR C#">OR C#</option>
                </select>
            </div>
        </div>

        <div class="inputDiv">
            <p>Comments (optional):</p>
            <textarea name="c" id="" cols="60" rows="5"></textarea>
        </div>

        <button class="button-19" type="submit">Submit</button>
    </form>
</div>