@model Survey

<div>
    <form asp-action="Process" asp-controller="Home" method="post">
        <div>
            <div class="inputDiv">
                <label asp-for="Name">Your Name:</label>
                <span asp-validation-for="Name"></span>
                <input asp-for="Name">
            </div>

            <div class="inputDiv">
                <label asp-for="Location">Dojo Location</label>
                <span asp-validation-for="Location"></span>
                <select asp-for="Location">
                    <option value="Chicago">Chicago</option>
                    <option value="Moon">Moon</option>
                    <option value="Online">Online</option>
                </select>
            </div>

            <div class="inputDiv">
                <label asp-for="FavLang">Favrite Language:</label>
                <span asp-validation-for="FavLang"></span>
                <select asp-for="FavLang">
                    <option value="C#">C#</option>
                    <option value="C#">C#</option>
                    <option value="OR C#">OR C#</option>
                </select>
            </div>
        </div>

        <div class="inputDiv">
            <label asp-for="Comment">Comments (optional):</label>
            <span asp-validation-for="Comment"></span>
            <textarea asp-for="Comment" cols="60" rows="5"></textarea>
        </div>

        @* <button class="button-19" type="submit">Submit</button> *@
        <input type="submit" class="button=19" value="Submit">
    </form>
</div>