@{
    ViewData["Title"] = "Home Page";
}

@{
    string name;

}
<div class="text-center">

    <h1>Welcome</h1>

    <h3>Please give your name:</h3>

    <div class="center">
        <form action="Process" method="post">

            <input type="text" name="NameVar">
            <button type="submit">Enter</button>

        </form>
    </div>


</div>
