html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

span {
  color: red;
}

.personCard {
  border: 3px solid black;
  width: 100%;
  margin: auto;
  justify-content: center;
}

/* -------------------------------- General CSS ------------------------------------- */
.flex {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 5px;
}

.mg-2 {
  margin: 2em !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.text-white {
  color: white;
text-decoration: none;}


.bgRed {
  background-color: red;
  border-radius: 2em;
  width: 50%;
  margin:auto
}
.bgBlue {
  background-color: blue;
  border-radius: 2em;
}
.bgGreen {
  background-color: rgb(42, 186, 26);
  border-radius: 2em;
}

.line-h {
  border: solid black 1px;
  width: 30em;
  margin-bottom: 1em;
}

.mg-top-2 {
  margin-top: 2em !important;
}

.padding-5px {
  padding: 5px;
}

.center-div {
  text-align: center;
  margin: auto;
}

.justify-context-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1em;
}


/* -------------------------------- Table CSS ------------------------------------- */

.tableBox {
  
  border: white solid 3px;
  background-color: white;
  width: 60%;
  /* margin: auto; */
  margin-top: 2em;
  padding: 2em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* -------------------------------- Button CSS ------------------------------------- */


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary-green {
  color: #fff;
  background-color: hsl(120, 63%, 50%);
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10em;
  height: 4em;
}


/* -------------------------------- Page Layout Boxes CSS ------------------------------------- */



.main {
  /* background-color: gray; */
  border: solid 3px black;
  /* border-radius: 1em; */

  margin: auto;
  width: 80%;
  /* height: 8em; */

  display: flex;
  /* justify-content: space-between;
  align-items: center; */

  /* padding-left: 2em;
  padding-right: 2em; */
  padding: 2em;

  font-family: Arial, Helvetica, sans-serif;

}

.body {
  /* display: flex; */
  background-color: lightgray;
  border: solid 3px black;
  border-radius: 1em;
  
  margin: auto;
  margin-top: 2em;
  /* height: 30em; */
  width: 80%;
  
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;

}
.left-main {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

/* --------- 2 Vertical Boxes body layout -------- */
.left-main2 {
  width: 50%;
  /* border: 1px solid red; */

}

.right-main2 {
  width: 50%;
  /* border: 1px solid red; */

}

.formBox {
  /* display: flex;
  justify-content: space-between; */
  /* border: solid red 10px; */
  width: 40em;
}



/* --------- 3 Vertical Boxes body layout -------- */

.left-main3 {
  width: 33%;
  /* border: 1px solid red; */
  text-align: center;


}
.center-main3 {
  width: 33%;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  

  padding-top: 2em;
  text-align: center;

}
.right-main3 {
  width: 33%;
  /* border: 1px solid red; */
  text-align: center;



}

/* ------------------- */

.input-box {
  width: 10em; /* Adjust width as needed */
  height: 50%;
  padding: 10px; /* Adjust padding as needed */
  /* border: 1px solid #ccc; Border color */
  border-radius: 5px; /* Border radius for rounded corners */
  font-size: 16px; /* Font size */
  outline: none; /* Remove outline */
  /* transition: border-color 0.3s ease; Smooth transition for border color */
}





.citeName {
  font-size: xxx-large;
  color: rgb(163, 38, 240);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin:0%;
}

.citeNameBox {
  border: solid rgb(32, 33, 33) 3px;
  border-radius: 1em;
  background-color: rgb(61, 61, 61);
  /* width: 60%; */
  /* margin: auto; */
  
}

.topBarLinksBox {
  /* border: solid black  2px; */
  justify-content: space-around;
  width: 45%;
  
  display: flex;
}
.topBarLinkks {
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}

/* -------------------------------- Project Custom CSS ------------------------------------- */

.recentDishesBox {
  margin-top: 5em;
}


.aBox {
  border: solid black 2px;
  width: 15em;
}

.displayAllCoupons {
  display: flex;

}

.CouponBox {
  border: solid lightgray 2px;
  border-radius: 1em;
  width: 25em;
  padding: 1em;
  margin: 1em;
  flex-wrap: wrap;
  /* height: 25em; */
}

/* --------------------------- */


/* -------------------------- */


/* ----------------- */

