@inherits LayoutComponentBase

<link href="C:\Users\peter\Desktop\Coding Projects\C_Stack\blazor\mslearn-interact-with-data-blazor-web-apps-main\BlazingPizza\wwwroot\css\site.css" rel="stylesheet">

<div class="content">
    @Body
</div>

