@model List<Product>


<h1>All Products</h1>
<div mg-2>
    <ul>
        @{
            foreach(Product p in Model) {
                Console.WriteLine(p.ProductId);
                Console.WriteLine(p.ProductId);
                Console.WriteLine(p.ProductId);

                <li><a asp-action="ShowProduct" asp-route-ProdId="@p.ProductId"> @p.Name</a></li>
            }
            //foreach make an li
        }

    </ul>
</div>