<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>live from that one view</h1>

    @{
        List<string> peopleList = ["bob M", "Joe S", "Bob's B", "Allen W", "paul M"];
        
        @* peopleList.ForEach(delegate(string name)
        {
            <p>name<p/>
        }); *@

        for(int i = 0; i < peopleList.Count; i++) {
            <p>@peopleList[i]</p>
        }
    }

</body>
</html>