@{
    ViewData["Title"] = "Welcome to CRUDelicious";
}

    <div class="recentDishesBox">
        <h3>Check out some recent dishes:</h3>
        <div class="line-h"></div>

        <div class="tableBox">
            <table>
                @foreach(Dish d in ViewBag.AllDishes) {
                    <tr>
                        <td><a asp-action="ViewDish" asp-route-DishId="@d.DishId">@d.Name</a> by @d.Chef</td>
                    </tr>
                }
            </table>
        </div>




    </div>








